{% extends "base.html.twig" %}
{% block body %}
    <body>
        {% include "header.html.twig" %}
        <header class="masthead">
            <div class="container-fluid">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h1 class="font-weight-light">COVID-19 Luxembourg</h1>
                        <br>
                        <br>
                        <br>
                        <p>
                            <code>
                                How does it work?
                                <br>
                                People who need help can find and click on your profile (based on the services you provide).
                                <br>
                                Make sure you speak to the person before you engage.
                                <br>
                                Your personal data is being used for support purposes only, you will not receive spam nor will your information be sent to third parties.
                                This application is created voluntarily and has no financial gain.
                            </code>
                        </p>
                        <br>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                {{ form_start(form) }}
                                <div class="label"><strong>First name / Prénom</strong></div>
                                {{ form_row(form.firstname) }}
                                <div class="label"><strong>Last name / Nom de famille</strong></div>
                                {{ form_row(form.lastname) }}
                                <div class="label"><strong>Email</strong></div>
                                {{ form_row(form.email) }}
                                <div class="label"><strong>Phone number / Téléphone</strong></div>
                                {{ form_row(form.phonenumber) }}
                                <div class="label"><strong>City / Ville</strong></div>
                                {{ form_row(form.address.vars.prototype.city) }}
                                <div class="label"><strong>Postal code / Code postale</strong></div>
                                {{ form_row(form.address.vars.prototype.postalcode) }}
                                <br>
                                <br>
                                <div class="offset-md-2">
                                    <label for="selection"><strong>Select what you can help with</strong></label>
                                    <select class="browser-default custom-select" name="ListOfOptions[]" id="liopt" multiple required>
                                        <option value="Groceries" name="groceries">Groceries</option>
                                        <option value="Garbage" name="garbage">Throw out garbage</option>
                                        <option value="WalkingDog">Walking Dog</option>
                                        <option value="DryCleaning">Pick up or Bring dry cleaning</option>
                                        <option value="DeliverTakeAway">Deliver your take away</option>
                                    </select>
                                </div>

                                {{ form_end(form) }}
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        {% include "footer.html.twig" %}
    </body>
{% endblock %}