{% extends "base.html.twig" %}
{% block body %}
    <body>
    {% include "header.html.twig" %}
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <br>
                        <br>
                        <br>
                        {% include 'flashMessage.html.twig' %}
                        <br>
                        <h1 class="font-weight-light">COVID-19 Luxembourg</h1>
                        <br>
                        <p>
                            <code>
                               Leave us a message and we'll get in touch as soon as possible!
                            </code>
                        </p>
                        <br>
                        <br>
                        <div class="offset-md-3 col-md-6">
                            {{ form_start(form) }}
                            <div class="label"><strong>First Name</strong></div>
                            {{ form_row(form.firstname) }}
                            <div class="label"><strong>Last Name</strong></div>
                            {{ form_row(form.lastname) }}
                            <div class="label"><strong>Email</strong></div>
                            {{ form_row(form.email) }}
                            <div class="label"><strong>Subject</strong></div>
                            {{ form_row(form.subject) }}
                            <div class="label"><strong>Message</strong></div>
                            {{ form_row(form.message) }}
                            {{ form_end(form) }}
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% include "footer.html.twig" %}
    </body>
{% endblock %}
