{% extends "base.html.twig" %}
{% block head %}
    <style>
        body {
            padding-top: 56px;
        }
    </style>
{% endblock %}
{% block body %}
    <body>
    {% include "header.html.twig" %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <div class="row">
                        <!-- Blog Entries Column -->
                        <div class="col-md-8">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1 class="my-4 titleBlog">Posted by people</h1>
                            <!-- Blog Post -->
                            {% for posts in post %}
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h2 class="card-title">{{ posts.title }}</h2>
                                        <p class="card-text">{{ posts.message }}</p>
                                        <a href="{{ path('detailPost', {'id': posts.id}) }}" class="btn btn-primary">Read More &rarr;</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{ posts.postDate|date("l d M Y") }} by
                                        <span>{{ posts.author }}</span>
                                    </div>
                                </div>
                            {% endfor %}

                            <!-- Pagination -->
                            <ul class="pagination justify-content-center mb-4">
                                <li class="page-item">
                                   <!-- <a class="page-link" href="#">&larr; Older</a> -->
                                </li>
                                <li class="page-item disabled">
                                   <!--  <a class="page-link" href="#">Newer &rarr;</a> -->
                                </li>
                            </ul>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                        <!-- Sidebar Widgets Column -->
                        <div class="col-md-4">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="card my-4">
                                <h5 class="card-header">Here you can</h5>
                                <div class="card-body text-left">
                                    Post anything you want related to any help you need... <br>
                                    If you have, questions, or special request this is where to post what you need...
                                </div>
                            </div>
                            <!-- Search Widget -->
                            <div class="card my-4">
                                <h5 class="card-header">Create Post</h5>
                                <div class="card-body">
                                    <div class="input-group">
                                        <span class="input-group-btn ">
                                             <button class="btn btn-primary justify-content-center" type="button">
                                                 <a href="{{ path('post') }}" style="text-decoration: none; color: white">Let's Go!</a></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Side Widget -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
        </div>
    </header>
    {% include "footer.html.twig" %}
    </body>
{% endblock %}